<!DOCTYPE html> 
<html lang="en">
  <head> 
    
</head>
<style>
    .page {
    background-color: #f7f381;
    padding: 8px 24px;
    width: 750px;
    font-size: 25px;
    border: 1px solid #f7f381;
    box-shadow: 0 0 10px 2px #333333;
    margin: auto;
}
ul {
    margin: 12px;
}


</style>
  <body>
    <div class="page">
        <h1>Create a new Account:</h1>
      <form action="{% url 'appPages:register' %}" method="post">
        {% csrf_token %}
        {{ form}}
        <button type="submit">Submit</button>
        <p>Already have an account ? <a href="{% url 'appPages:login' %}">Login page</a></p>
      </form>
    </div>
  </body>
 <html>

